body {
  margin: 0;
  font-family: 'Roboto', Arial, Helvetica, sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #18191a;
  color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.root {
  --main-bg-color: #18191a;
  --header-bg-color: #242526;
  --border-color: #393a3b;
  --primary-text-color: #e4e6eb;
  --secondary-text-color: #b0b3b8;
}
